/*aside*/
main{
    display: flex;
    flex-direction: row;
    user-select: none;
    padding: 20px 20px 50px 20px;
    height: auto;
}

.article__wrapper{
    width: 70%;
}

/*article__introduction*/
.article__introduction{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.article__introduction__title{
    position: relative;
    top: 6px;
    font-size: 19px;
    font-weight: 600;
    color: #222;
}

.article__introduction__back__page{
    margin-right: 40px;
    position: relative;
    top: 10px;
}

.article__introduction__back__page > svg{
    rotate: 180deg;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.article__introduction__back__page > svg:active{
    position: relative;
    top: 1px;
}

/*article box*/
.article__box{
    margin-top: 40px;
}

.article__box__wrapper > h2{
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 700;
}

.article__box__wrapper > h4{
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.article__box__wrapper > p{
    font-size: 16px;
    font-weight: 300;
    padding: 5px 0 7px 0;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.article__box__wrapper > img{
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    border-radius: 3px;
    margin: 30px 0;
}

/*aside*/
aside{
    width: 30%;
    padding: 40px 20px 20px 50px;
}

aside > h2{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 12px;
}

aside > h2:nth-of-type(2),
aside > h2:nth-of-type(3){
    margin-top: 45px;
}

aside > button{
    display: block;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    cursor: pointer;
}

aside > ul > li{
    list-style-type: none;
    margin-bottom: 15px;
}

aside > ul > li > a{
    text-decoration: none;
    color: #222;
}