<div class="home__container">
    <header>
        <app-header></app-header>
    </header>

    <main>
        <aside>
            <app-about-me></app-about-me>
        </aside>

        <div class="home__wrapper">
            <section class="home__steps">
                <button type="button" [ngClass]="stepActive === 'all' ? 'actived__step' : ''" (click)="activeStep('all')" title="Todos">TODOS</button>
                <button type="button" [ngClass]="stepActive === 'blog' ? 'actived__step' : ''"  (click)="activeStep('blog')" title="Blog">BLOG</button>
                <button type="button" [ngClass]="stepActive === 'project' ? 'actived__step' : ''"  (click)="activeStep('project')" title="Projetos">PROJETOS</button>
                <button type="button" [ngClass]="stepActive === 'tiktok' ? 'actived__step' : ''"  (click)="activeStep('tiktok')" title="TikTok">TIKTOK</button>
            </section><!--home__steps-->

            <section class="home__search">
                <input type="text" name="contentInput" [(ngModel)]="contentInput" title="Caixa de Pesquisa" (keyup)="findBySearch()">

                @if (contentInput !== "") {
                    <p title="Resultado">{{ searchFoundLength }} resultados encontrados para a busca <i>“{{ contentInput }}”</i></p>
                }
            </section><!--home__search-->

            <div class="home__content">
                <section class="home__all__template" #templateAll id="templateAll">
                    <h2>TODOS CONTEÚDOS</h2>
                    <div class="home__all__template__articles">
                        @if(this.contentInput !== ""){
                            <article class="home__article__single" *ngFor="let post of postsFiltered">
                                <app-card-template [dataApi]="post"></app-card-template>
                            </article><!--home__article__single-->
                        }@else {
                            <article class="home__article__single" *ngFor="let post of allPosts">
                                <app-card-template [dataApi]="post"></app-card-template>
                            </article><!--home__article__single-->
                        }

                        @if (allPosts.length >= 10) {
                            <button type="button">VER MAIS</button>
                        }
                    </div><!--home__all__template_articles-->
                </section><!--home__all__template-->

                <section class="home__blog__template" #templateBlog id="templateBlog">
                    <h2>ÚLTIMOS ARTIGOS</h2>
                    <div class="home__blog__template__articles">
                        <article class="home__article__single" *ngFor="let article of blog">
                            <app-card-template [dataApi]="article"></app-card-template>
                        </article><!--home__article__single-->
                    </div><!--home__blog__template__articles-->
                </section><!--home__blog__template-->

                <section class="home__project__template" #templateProject id="templateProject">
                    <h2>PROJETOS MAIS RECENTES</h2>
                    <div class="home__project__template__articles">
                        <article class="home__article__single" *ngFor="let post of project">
                            <app-card-template [dataApi]="post"></app-card-template>
                        </article><!--home__article__single-->
                    </div><!--home__project__template__articles-->
                </section><!--home__project__template-->

                <section class="home__tiktok__template" #templateTiktok id="templateTiktok">
                    <h2>VIDEOS MAIS RECENTES</h2>
                    <div class="home__project__template__articles">
                        <article class="home__article__single" *ngFor="let video of tiktok">
                            <app-card-tiktok-template [dataApi]="video"></app-card-tiktok-template>
                        </article><!--home__article__single-->
                    </div><!--home__project__template__articles-->
                </section><!--home__tiktok__template-->
            </div><!--home__content-->
        </div><!--home_wrapper-->
    </main>
</div>
