.actived__step{
    padding-bottom: 2px !important;
    border-bottom: 3px solid #0066ff !important;
    color: #0066ff !important;
}

/*aside*/
main{
    display: flex;
    flex-direction: row;
    user-select: none;
    padding: 0 15px;
    min-height: 110vh;
}

main > aside{
    position: relative;
    top: 20px;
    background-color: #f8f8f8;
    width: 270px;
    min-width: 270px;
    height: 670px;
    border: 1px solid #a39999;
    border-radius: 20px;
}

.home__wrapper{
    overflow-y: auto;
}

.home__steps{
    margin-top: 60px;
    padding: 0 60px;
}

.home__steps > button{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    font-weight: bolder;
    color: #555;
    margin-right: 50px;
    cursor: pointer;
}

.home__steps > button:last-child{
    margin-right: 0;
}

/*home search*/
.home__search{
    margin: 60px 0;
    position: relative;
    padding: 0 20px;
    width: 800px;
    max-width: 100%;
}

.home__search > input{
    width: 800px;
    max-width: 97%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #a39999;
    border-radius: 30px;
    outline: 0;
    font-size: 16px;
}

.home__search > input:focus{
    border: 1px solid #0066ff;
}

/*.home__search > svg{
    position: absolute;
    right: 60px;
    top: 5px;
    cursor: pointer;
}

.home__search > svg:active{
    top: 6px;
}*/

.home__search > p{
    position: absolute;
    bottom: -50px;
    left: 60px;
}

.home__search > p > i {
    color: #0066ff;
    font-weight: 600;
}

/*home content*/
.home__content{
    margin: 90px 20px 20px 20px;
    //background-color: #f8f8f8;
    //border: 1px solid #a39999;
    border-radius: 20px;
    width: 1020px;
    max-width: 95%;
    height: auto;
    padding: 30px 20px;
}

/*home all content*/
.home__all__template > h2,
.home__blog__template > h2,
.home__project__template > h2,
.home__tiktok__template > h2{
    font-size: 20px;
    font-weight: 600;
    color: #444444;
    margin-bottom: 50px;
}

.home__content > section > div > button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    font-weight: 500;
    color: #444;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.home__article__single{
    margin-bottom: 30px;
}

.home__article__single:last-child{
    margin-bottom: 0px;
}

@media (width < 1169px) {
    main > aside{
        width: 240px;
        min-width: 240px;
        height: 670px;
    }
}

@media (width < 1039px) {
    .home__steps > button{
        font-size: 18px;
        font-weight: 700;
        margin-right: 45px;
    }
}

@media (width < 1000px) {
    main{
        flex-direction: column;
    }

    main > aside{
        width: 100%;
        min-width: auto;
        height: 240px;
    }
}

@media (width < 734px) {
    .home__steps{
        padding: 0 30px;
    }

    .home__steps > button{
        font-size: 16px;
        margin-right: 35px;
    }
}

@media (width < 589px) {
    .home__steps > button{
        font-size: 14px;
        margin-right: 30px;
    }
}

@media (width < 524px) {
    .home__steps{
        padding: 0 15px;
    }

    .home__steps > button{
        font-size: 12px;
        margin-right: 20px;
    }

    /*home search*/
    .home__search{
        margin: 50px 0;
        padding: 0 15px;
    }

    .home__search > input{
        max-width: 100%;
        height: 35px;
        font-size: 14px;
    }

    .home__search > p{
        left: 50px;
        font-size: 14px;
    }
    
    .home__search > p > i {
        font-size: 14px;
    }
}

@media (width < 425px) {
    main{
        padding: 0 10px;
    }

    .home__search > p{
        left: 30px;
    }
}

@media (width < 399px) {
    .home__steps{
        padding: 0 10px;
    }

    .home__steps > button{
        font-size: 11px;
        margin-right: 17px;
    }

    /*home search*/
    .home__search{
        margin: 40px 0;
        padding: 0 10px;
    }

    .home__search > input{
        height: 32px;
        font-size: 11px;
    }

    .home__search > p{
        bottom: -30px;
        left: 25px;
        font-size: 11px;
    }
    
    .home__search > p > i {
        font-size: 11px;
    }
}

@media (width < 355px) {
    .home__steps{
        padding: 0 5px;
    }

    .home__steps > button{
        font-size: 10px;
        margin-right: 15px;
    }

    /*home search*/
    .home__search{
        margin: 30px 0;
        padding: 0 5px;
    }

    .home__search > input{
        height: 30px;
        font-size: 10px;
    }
}

@media (width < 352px) {
    main{
        padding: 0 5px;
    }
}

@media (width < 305px) {
    .home__steps > button{
        font-size: 9px;
        margin-right: 14px;
    }

    /*home search*/
    .home__search > p{
        left: 20px;
        font-size: 9px;
    }
    
    .home__search > p > i {
        font-size: 9px;
    }
}