.card__template__container{
    border-radius: 5px;
    border: 1px solid #a39999;
    width: 100%;
    max-width: 99%;
    height: 214px;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
}

.card__template__container > picture{
    width: 90%;
    min-height: 212px;
    position: relative;
}

.card__tiktok__overlay_img{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #05050523;
    border-radius: 5px;
    width: 100%;
    height: 212px;
}

.card__template__container > picture > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-right: 1px solid #a39999;
    object-fit: cover;
}

.home__article__single__content{
    padding: 15px 20px;
    position: relative;
}

.home__article__single__types{
    display: flex;
    flex-direction: row;
}

.home__article__single__types > .article__type{
    background-color: #d9d9d9;
    text-align: center;
    border-radius: 30px;
    margin-right: 10px;
    padding: 5px 0;
    max-width: 100px;
}

.home__article__single__types > .article__type:last-child{
    margin-right: 0;
}

.article__type > p{
    font-size: 14px;
    font-weight: 600;
    color: #222;
}

.home__article__single__content > h2{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1%;
    color: #333;
    padding-top: 15px;
}

.home__article__single__content > p{
    line-height: 20px;
    padding-top: 10px;
    font-size: 14px;
}

.home__article__single__actions{
    width: 100%;
    max-width: 96%;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home__article__single__actions__left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home__article__single__actions__left > button{
    margin-right: 20px;
    background-color: transparent;
    border: 0;
}

.home__article__single__actions__left > button:last-child{
    margin-right: 0;
}

.home__article__single__actions__left > button > fa-icon,
.home__article__single__actions__right > a > fa-icon{
    font-size: 18px;
    cursor: pointer;
    color: #222;
}

@media (width < 1309px) {    
    .article__type > p{
        font-size: 13px;
        font-weight: 500;
    }
    
    .home__article__single__content > h2{
        font-size: 16px;
        letter-spacing: 0.3px;
    }
    
    .home__article__single__content > p{
        font-size: 13px;
    }
    
    .btn__read__more > h4{
        font-size: 15px;
    }
}

@media (width < 1139px) {
    .home__article__single__content{
        padding: 15px 10px;
    }
    
    .article__type > p{
        font-size: 12px;
    }
    
    .home__article__single__content > h2{
        font-size: 13px;
    }
    
    .home__article__single__content > p{
        font-size: 12px;
    }
    
    .btn__read__more > h4{
        font-size: 13px;
    }
}

@media (width < 1064px) {   
    .article__type > p{
        font-size: 11px;
    }
    
    .home__article__single__content > h2{
        font-size: 12px;
    }
    
    .home__article__single__content > p{
        font-size: 10px;
    }
    
    .btn__read__more > h4{
        font-size: 12px;
    }
}

@media (width < 640px) {  
    .article__type > p{
        font-size: 10px;
    }
    
    .home__article__single__content > h2{
        font-size: 11px;
    }
    
    .home__article__single__content > p{
        font-size: 9px;
    }
    
    .btn__read__more > h4{
        font-size: 11px;
    }

    .btn__read__more > svg{
        width: 20px;
        height: 20px;
    }
}

@media (width < 600px) {
    .card__template__container{
        flex-direction: column;
        height: 450px;
    }

    .card__template__container > picture{
        min-width: 100%;
        max-width: 100%;
        height: 200px;
    }

    .card__template__container > picture > img{
        border-right: 0;
    }
    
    .card__tiktok__overlay_img{
        width: 100%;
        height: 212px;
    }
    
    .article__type > p{
        font-size: 10px;
        font-weight: 600;
    }
    
    .home__article__single__content > h2{
        font-size: 15px;
    }
    
    .home__article__single__content > p{
        font-size: 13px;
    }

    .btn__read__more{
        position: absolute !important;
        bottom: -50px !important;
        right: 20px !important;
        justify-content: right !important;
    }
    
    .btn__read__more > h4{
        font-size: 11px;
    }

    .btn__read__more > svg{
        width: 20px;
        height: 20px;
    }
}

@media (width < 531px) {
    .btn__read__more{
        bottom: -30px !important;
    }
}

@media (width < 479px) {
    .btn__read__more{
        bottom: -20px !important;
    }
}

@media (width < 415px) {
    .article__type > p{
        font-size: 9px;
    }
    
    .home__article__single__content > h2{
        font-size: 13px;
    }
    
    .home__article__single__content > p{
        font-size: 11px;
    }

    .btn__read__more{
        bottom: -35px !important;
    }
}

@media (width < 414px) {
    .btn__read__more{
        bottom: -25px !important;
    }
}

@media (width < 358px) {
    .home__article__single__content > h2{
        font-size: 11px;
    }
    
    .home__article__single__content > p{
        font-size: 9px;
    }

    .btn__read__more{
        bottom: -25px !important;
    }

    .btn__read__more > h4{
        font-size: 10px;
    }

    .btn__read__more > svg{
        width: 17px;
        height: 17px;
    }
}

@media (width < 291px) {
    .home__article__single__content > h2{
        font-size: 10px;
    }
    
    .home__article__single__content > p{
        font-size: 8px;
        line-height: 16px;
    }

    .btn__read__more{
        bottom: -40px !important;
    }
}