<div class="card__template__container">
    <picture>
        <img [src]="imageURLCard" [alt]="imageURLCard" [title]="imageURLCard">

        <div class="card__tiktok__overlay_img"></div><!--card__tiktok__overlay_img-->
    </picture>

    <div class="home__article__single__content">
        <div class="home__article__single__types">
            <div class="article__type" *ngFor="let type of typeNameCard" [ngStyle]="{'width': (type.type_name.length * 14) + 'px'}">
                <p title="Tags">{{ type.type_name }}</p>
            </div><!--article__type-->
        </div><!--home__article__single__types-->

        <h2 title="Título">{{ titleCard }}</h2>

        <p title="Descrição">{{ descriptionCard }}</p>

        <div class="home__article__single__actions">
            <div class="home__article__single__actions__left">
                <button type="button" title="Curtir">
                    <fa-icon [icon]="likeIcon"></fa-icon>                           
                </button>

                <button type="button" title="Descurtir">
                    <fa-icon [icon]="unlikeIcon"></fa-icon>                           
                </button>

                <button type="button" title="Salvar">
                    <fa-icon [icon]="favoriteIcon"></fa-icon>                           
                </button>

                <button type="button" title="Compartilhar">
                    <fa-icon [icon]="shareIcon"></fa-icon>                           
                </button>
            </div><!--home__article__single__actions__left-->

            <div class="home__article__single__actions__right">
                <a [routerLink]="['/artigo/'+ idCard]" class="btn__read__more" title="Visualizar">
                    <fa-icon [icon]="viewIcon"></fa-icon>                           
                </a><!--btn__read__more-->
            </div><!--home__article__single__actions__right-->
        </div><!--home__article__single__actions-->
    </div><!--home__article__single__content-->
</div><!--card__template__container-->
