<div class="relevant__articles__container">
    <h2>ARTIGOS RELEVANTES</h2>

    <div class="article__wrapper">
        <a href="" class="article__card__single">
            <div class="article__title" title="Título do Artigo">
                <h3>Iniciando no desenvolvimento web</h3>
            </div><!--article__title-->

            <div class="article__description" title="Descrição do Artigo">
                <p>Bom, para começo de conversa antes que leia o que vem abaixo, quero que entre nesse "link" caso não possua as ferramentas necessárias para o desenvolvimento web...</p>
            </div><!--article__description-->
        </a><!--article__card__single-->

        <a href="" class="article__card__single">
            <div class="article__title" title="Título do Artigo">
                <h3>Como fazer páginas web atraentes</h3>
            </div><!--article__title-->

            <div class="article__description" title="Descrição do Artigo">
                <p>Bom, para começo de conversa antes que leia o que vem abaixo, quero que entre nesse "link" caso não possua as ferramentas necessárias para o desenvolvimento web...</p>
            </div><!--article__description-->
        </a><!--article__card__single-->

        <a href="" class="article__card__single">
            <div class="article__title" title="Título do Artigo">
                <h3>Como fazer um backend seguro com PHP</h3>
            </div><!--article__title-->

            <div class="article__description" title="Descrição do Artigo">
                <p>Bom, para começo de conversa antes que leia o que vem abaixo, quero que entre nesse "link" caso não possua as ferramentas necessárias para o desenvolvimento web...</p>
            </div><!--article__description-->
        </a><!--article__card__single-->
    </div><!--article__wrapper-->
</div><!--relevant__articles__container-->
