.about__me__container > picture > img{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 223px;
    height: 223px;
    border-radius: 50%;
    object-fit: cover;
}

.about__me__container > p{
   padding: 0px 12px;
   margin-top: 40px;
   font-weight: 300;
   text-align: left;
   word-wrap: break-word;
   line-height: 22px;
}

.about__me__container > .home__social__media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
}

.about__me__container > .home__social__media > .home__social__media__single{
    cursor: pointer;
}

@media (width < 1169px) {
    .about__me__container > picture > img{
        width: 200px;
        height: 200px;
    }
    
    .about__me__container > p{
       padding: 0px 8px;
       font-size: 14px;
    }
    
    .about__me__container > .home__social__media{
        padding: 20px 30px 0 30px;
    }
}

@media (width < 1000px) {
    .about__me__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
    }

    .about__me__container > picture > img{
        width: 200px;
        height: 200px;
    }
    
    .about__me__container > p{
        padding: 0px 12px;
        font-size: 14px;
        width: 700px;
        max-width: 95%;
        height: auto;
    }
    
    .about__me__container > .home__social__media{
        padding: 0;
        position: relative;
        top: 20px;
        justify-content: space-around;
        flex-direction: column;
    }
}

@media (width < 785px) {
    .about__me__container{
        padding: 0 15px;
        position: relative;
    }

    .about__me__container > picture > img{
        width: 140px;
        height: 140px;
        position: relative;
        top: -60px;
    }
    
    .about__me__container > p{
        padding: 0px 10px;
        font-size: 13px;
        height: 270px;
        margin-top: 20px;
    }
    
    .about__me__container > .home__social__media{
        position: absolute;
        bottom: -90px;
        flex-direction: row;
    }
}

@media (width < 580px) {
    .about__me__container{
        padding: 0 10px;
    }

    .about__me__container > picture > img{
        width: 120px;
        height: 120px;
        top: -70px;
    }
    
    .about__me__container > p{
        font-size: 11px;
        line-height: 20px;
    }
    
    .about__me__container > .home__social__media > a:nth-of-type(1) > svg{
        width: 35px !important;
    }

    .about__me__container > .home__social__media > a:nth-of-type(2) > svg,
    .about__me__container > .home__social__media > a:nth-of-type(3) > svg{
        width: 40px !important;
    }
}

@media (width < 425px) {
    .about__me__container > picture > img{
        width: 100px;
        height: 100px;
        top: -80px;
    }
    
    .about__me__container > p{
        font-size: 10px;
        line-height: 18px;
        padding: 0 5px 0 8px;
    }
    
    .about__me__container > .home__social__media > a:nth-of-type(1) > svg{
        width: 30px !important;
    }

    .about__me__container > .home__social__media > a:nth-of-type(2) > svg,
    .about__me__container > .home__social__media > a:nth-of-type(3) > svg{
        width: 35px !important;
    }
}

@media (width < 352px) {
    .about__me__container > picture > img{
        width: 70px;
        height: 70px;
        top: -90px;
    }
    
    .about__me__container > p{
        font-size: 10px;
        line-height: 18px;
        padding: 0 5px 0 8px;
    }

    .about__me__container > .home__social__media{
        flex-direction: column;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        margin-top: 70px;
        height: 150px;
    }
    
    .about__me__container > .home__social__media > a:nth-of-type(1) > svg{
        width: 25px !important;
        height: 25px !important;
        margin-bottom: 10px;
    }

    .about__me__container > .home__social__media > a:nth-of-type(2) > svg{
        margin-bottom: 10px;
    }

    .about__me__container > .home__social__media > a:nth-of-type(2) > svg,
    .about__me__container > .home__social__media > a:nth-of-type(3) > svg{
        width: 30px !important;
        height: 30px !important;
    }
}

@media (width < 322px) {
    .about__me__container > picture > img{
        width: 70px;
        height: 70px;
        top: -90px;
    }
    
    .about__me__container > p{
        font-size: 9px;
        line-height: 16px;
        padding: 0 3px 0 5px;
    }

    .about__me__container > .home__social__media{
        flex-direction: column;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        margin-top: 70px;
        height: 150px;
    }
    
    .about__me__container > .home__social__media > a:nth-of-type(1) > svg{
        width: 25px !important;
        height: 25px !important;
        margin-bottom: 10px;
    }

    .about__me__container > .home__social__media > a:nth-of-type(2) > svg{
        margin-bottom: 10px;
    }

    .about__me__container > .home__social__media > a:nth-of-type(2) > svg,
    .about__me__container > .home__social__media > a:nth-of-type(3) > svg{
        width: 30px !important;
        height: 30px !important;
    }
}