.active__link__header{
    background-color: #0066ff !important;
}

.active__link__header > button{
    color: #fff !important;
}

/*header container*/
.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #F8F8F8;
    user-select: none;
    color: #222222;
    border-left: 1px solid #a39999;
    border-right: 1px solid #a39999;
    border-bottom: 1px solid #a39999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header__logo > h1,
.header__work > h2{
    font-size: 24px;
    letter-spacing: 1%;
    font-weight: 600;
    color: #333;
}

.header__work__theme{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__theme > button{
    background-color: transparent;
    border: 0;
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

.header__theme > button > fa-icon{
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

@media (width < 1150px) {
    .header__logo > h1,
    .header__work > h2{
        font-size: 21px;
        letter-spacing: 0.3px;
    }
}

@media (width < 970px) {
    /*header container*/
    .header__container{
        padding: 40px 35px;
    }

    .header__logo > h1,
    .header__work > h2{
        font-size: 19px;
        letter-spacing: 0.1px;
    }
}

@media (width < 820px) {
    /*header container*/
    .header__container{
        padding: 30px;
    }

    .header__logo > h1,
    .header__work > h2{
        font-size: 16px;
        letter-spacing: 0px;
    }

    .header__theme > button{
        width: 35px;
        height: 35px;
    }

    .header__theme > button > fa-icon{
        font-size: 25px;
    }
}

@media (width < 420px) {
    /*header container*/
    .header__container{
        padding: 30px 20px;
    }

    .header__logo > h1,
    .header__work > h2{
        font-size: 14px;
        letter-spacing: 0.3px;
    }

    .header__theme > button{
        width: 25px;
        height: 25px;
    }

    .header__theme > button > fa-icon{
        font-size: 20px;
    }
}

@media (width < 360px) {
    /*header container*/
    .header__container{
        padding: 25px 10px;
    }

    .header__logo > h1,
    .header__work > h2{
        font-size: 13px;
        letter-spacing: 0px;
    }

    .header__theme > button{
        width: 22px;
        height: 22px;
    }

    .header__theme > button > fa-icon{
        font-size: 18px;
    }
}

@media (width < 320px) {
    .header__logo > h1,
    .header__work > h2{
        font-size: 11px;
    }

    .header__theme > button{
        width: 18px;
        height: 18px;
    }

    .header__theme > button > fa-icon{
        font-size: 15px;
    }
}