<div class="header__container">
    <div class="header__logo">
        <h1>🚀 Joalisson P Maia</h1>
    </div><!--header__logo-->

    <div class="header__work">
        <h2>Web Developer</h2>
    </div><!--header__work-->

    <nav>
        <a [routerLink]="['/home']" routerLinkActive="active__link__header" (click)="activedLink('home')">
            <button type="button">HOME</button>
        </a>

        <a [routerLink]="['/projetos']" routerLinkActive="active__link__header" (click)="activedLink('project')">
            <button type="button" >PROJETOS</button>
        </a>

        <a [routerLink]="['/faq']" routerLinkActive="active__link__header" (click)="activedLink('faq')">
            <button type="button" >FAQ</button>
        </a>

        <a [routerLink]="['/sobre']" routerLinkActive="active__link__header" (click)="activedLink('about')">
            <button type="button">SOBRE</button>
        </a>
    </nav>
</div><!--header__container-->
